footer {
  width: 100%;
  background: #2f3542;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .footer-column {
    flex-grow: 1;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        display: block;
        padding: 0 0 0.5rem 0;
        color: #ddd;
        &:hover {
          color: #eee;
        }
      }
    }
  }
}