footer {
  background: #2f3542;
  color: #fff; }
  footer .footer-container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media screen and (min-width: 35rem) {
      footer .footer-container {
        flex-direction: row; } }
    footer .footer-container .footer-column {
      flex-grow: 1;
      margin: 1rem 0; }
    footer .footer-container ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .footer-container ul li a {
        display: block;
        padding: 0 0 0.5rem 0;
        color: #ddd; }
        footer .footer-container ul li a:hover {
          color: #eee; }
